@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
   background-color: #fff;
   border-radius: 25px;
   box-shadow: 0 0 25px 0px rgb(168, 156, 156);
   width: 500px;
   height: 250px;
   padding: 40px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.balance-box {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    width: inherit;
}

.balance-box p {
    font-size: 30px;
}

.inputBox {
    padding: 2px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox input {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    padding: 5px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    width: 100px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}